---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

export async function getStaticPaths() {
  const allPosts = Object.values(
    import.meta.glob("../posts/*.md", { eager: true })
  );
  const uniqueTags = [
    ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul class="blog-list">
    {
      posts.map((post: any) => (
        <BlogPost
          url={post.url}
          image={post.frontmatter.image.url}
          alt={post.frontmatter.image.alt}
          title={post.frontmatter.title}
          description={post.frontmatter.description}
        />
      ))
    }
  </ul>
</BaseLayout>

<style>
  .blog-list {
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
  }
</style>
